<div class="container-fluid que-detail" *ngIf="displayQuestion">
  <nav class="navbar navbar-expand mt-1 mb-1">
    <span class="label m-1">Editing Question</span>
    <button type="button" class="btn btn-light btn-sm m-1" (click)="displayQuestion.addChoice()">
      <img class="img-fluid" src="assets/btnAddChoice.png" width="15" alt="Add Choice">
      add choice
    </button>

    <button type="button" class="btn btn-light btn-sm m-1" (click)="displayQuestion.deleteChoice()">
      <img class="img-fluid" src="assets/btnDeleteChoice.png" width="15" alt="Add Choice">
      delete choice
    </button>

    <div class="dropdown m-1">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdown-choiceWidth" data-bs-toggle="dropdown" aria-expanded="false">
        choice width
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-choiceWidth">
        <li><a class="dropdown-item" (click)="displayQuestion.setCol('col')">col</a></li>
        <li><a class="dropdown-item" (click)="displayQuestion.setCol('col-3')">col-3</a></li>
        <li><a class="dropdown-item" (click)="displayQuestion.setCol('col-4')">col-4</a></li>
        <li><a class="dropdown-item" (click)="displayQuestion.setCol('col-6')">col-6</a></li>
        <li><a class="dropdown-item" (click)="displayQuestion.setCol('col-12')">col-12</a></li>
      </ul>
    </div>
  </nav>
  <textarea class="form-control  mb-1" [(ngModel)]="displayQuestion.htmlContent"></textarea>
  <div class="row mt-1 mb-1">
    <div *ngFor="let cho of displayQuestion.choices; index as i" class="{{displayQuestion.colClass}}">
      <textarea [(ngModel)]="cho.htmlContent" (focus)="displayQuestion.selectChoice(cho)"></textarea>
    </div>
  </div>
</div>
