/* You can add global styles to this file, and also import other style files */
textarea {
    width:100%;
}

.selected {
    border-width: 0.25rem;
  border-color: rgb(255, 0, 0);
}

.tb-detail {
    background-color: aliceblue;
}

.que-detail {
    background-color: skyblue;
}
